@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 4.375rem 120px; }

html {
  font-size: 16px; }

.main {
  display: flex;
  flex-direction: column;
  gap: 12.5rem;
  padding-top: 3.3125rem; }

.heading-1 {
  font-size: 4.5rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  color: #181E4B;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: -3.04px; }

.heading-2 {
  font-size: 3rem;
  color: #000000;
  line-height: 4.0625rem;
  letter-spacing: 1%; }

.heading-5 {
  font-size: 1.5rem;
  color: #000000;
  line-height: 1.5rem;
  letter-spacing: 2%; }

.paragraph {
  color: #5E6282;
  font-size: 1rem;
  line-height: 1.875rem;
  letter-spacing: 2%;
  font-weight: 400; }

.accent-text {
  color: #4475F2; }

.heading-color {
  color: #181E4B; }

a, a:hover, a:visited {
  text-decoration: none;
  color: #9A9EA6;
  font-size: .875rem;
  font-weight: 400;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out; }

a:hover {
  color: #4737FF; }

a.focus, a.focus:hover, a.focus:visited {
  color: #4737FF; }

.subheading {
  font-size: 1.125rem;
  color: #4475F2;
  font-weight: 800;
  letter-spacing: 1.71px;
  text-transform: uppercase;
  margin-bottom: .625rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .header__menu-container {
    display: flex;
    gap: 7.8125rem;
    align-items: center; }
  .header__menu {
    display: flex;
    gap: 2.5rem; }
  .header__btn-wrapper {
    display: flex;
    justify-content: end; }

.banner__bg-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.banner__container {
  display: flex; }

.banner__inner {
  display: flex;
  flex-direction: column;
  gap: 32px; }

.banner__text {
  max-width: 501px; }

.banner__images {
  position: relative;
  overflow: visible;
  width: 100%; }

.banner__image--1 {
  position: absolute;
  top: -3%;
  left: 33%; }
  @media screen and (min-width: 1750px) {
    .banner__image--1 {
      left: 60%; } }

.banner__image--2 {
  position: absolute;
  left: -5%;
  top: 37%; }
  @media screen and (min-width: 1750px) {
    .banner__image--2 {
      left: 25%; } }

.banner__image--3 {
  position: absolute;
  right: -5%;
  top: 20%; }
  @media screen and (min-width: 1750px) {
    .banner__image--3 {
      right: -10%; } }

.banner__image--4 {
  position: absolute;
  left: 46%;
  bottom: -11%; }
  @media screen and (min-width: 1750px) {
    .banner__image--4 {
      bottom: -30%;
      left: 60%; } }

.features__container {
  padding-top: 5.625rem;
  display: flex;
  gap: 11.625rem;
  justify-content: center;
  align-items: flex-start; }

.feature {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center; }
  .feature__icon {
    width: 45px;
    height: 45px; }
  .feature__icon-container {
    display: flex;
    width: 102px;
    height: 102px;
    justify-content: center;
    align-items: center;
    background-color: #4475F2;
    box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
    border-radius: 26px; }
  .feature__p {
    text-align: center; }

.services__container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 140px; }

.service__container {
  display: flex;
  justify-content: space-between;
  gap: 125px;
  flex-wrap: wrap;
  max-width: 1200px;
  max-height: 400px;
  width: 100%;
  height: 100%; }

.service__image-wrapper {
  width: 600px;
  height: 399px;
  box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25); }
  .service__image-wrapper--1 {
    background: url("/img/service.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px; }
  .service__image-wrapper--2 {
    background: url("/img/service-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px; }

.service__image {
  width: 100%;
  height: 100%; }

.service__content {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  gap: 40px; }

.service__paragraph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px; }

.service__paragraph {
  text-wrap: balance; }

.service__heading {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: normal;
  text-wrap: balance; }

.btn-outline, .btn-outline:hover, .btn-outline:visited {
  color: #181E4B;
  font-size: 1rem;
  padding: .5625rem 2.9375rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.5625rem;
  transition: all 0.3s ease-in-out; }

.btn-outline:hover {
  color: #FFFFFF;
  background-color: #181E4B; }

.btn-primary, .btn-primary:hover, .btn-primary:visited {
  border-radius: 10px;
  box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.25);
  width: max-content;
  background-color: #4475F2;
  color: #FFFFFF;
  padding: 1.125rem 3.375rem;
  transition: all 0.3s ease-in-out; }

.btn-primary:hover {
  background-color: #4737FF; }
