@mixin padding-main {
  padding: 4.375rem 7.5rem;
  @media screen and (max-width: 900px) {
    padding: 2rem 3.5rem;
  }
  @media screen and (max-width: 500px) {
    padding: 2rem 1.75rem;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}