$primary: #4475F2;
$primary-active: #4737FF;
$primary-light: #23A6F0;

$white: #FFFFFF;
$black: #000000;

$heading: #181E4B;
$paragraph-color: #5E6282;
$link: #9A9EA6;
$border-color: #DEDEDE;
$muted-color: #BDBDBD;
$placeholder-color: #5E6282;

$font-family: 'Plus Jakarta Sans', sans-serif;

$btn-border-radius: 10px;

$transition: all .3s ease-in-out;