.input {
  padding: 4px 13px;
  font-weight: 400;
  line-height: 32px;
  font-size: $small-text;
  border: 1px solid $border-color;
  border-radius: 4px;
  color: $input-text-color;

  &::placeholder {
    color: $input-placeholder-color
  }

  &:focus {
    outline: 1px solid $primary-active;
  }

  &__container {
    @include flex-column;
    gap: 11px;
    height: 67px;
  }

  &__label{ 
    font-size: $p;
    color: $heading;
    font-weight: 700;
    line-height: normal;  
  }
}

.radio {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  accent-color: $primary;
  color: $primary;

  &__container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__wrapper {
    display: flex;
    gap: 1.25rem;
  }
  &__label {
    color: $input-text-color;
    font-size: $small-text;
    font-weight: 700;
  }
}